name: 'Front end'

# Triggers for the workflow
on:
  # Manual trigger using the workflow_dispatch event
  workflow_dispatch:

  # Automatic trigger on push events to the main branch
  push:
    branches:
      - main

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    # Steps in the job
    steps:
    - name: Check out repository
      uses: actions/checkout@v3
    - name: Use Node.js 
      uses: actions/setup-node@v3
      with:
        node-version: latest
    - name: Print a message
      run: echo "Hello, world!"
    - name: Install dependencies
      run: cd solution/frontend && npm ci
#     - name: Run tests
#       run: cd frontend && npm test        
#     - name: Run lint
#       run: cd frontend && npm run lint
