name: 'Front end'
on:
  workflow_dispatch:

jobs:
  build_and_test:
  runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Node.js 
        uses: actions/setup-node@v3
          with:
          node-version: latest  
#     - name: Install dependencies
#       run: cd backend && npm ci
#     - name: Run tests
#       run: cd frontend && npm test        
#     - name: Run lint
#       run: cd frontend && npm run lint
